<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://boboc2d.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/992d3e7d-a302-432a-aaa9-d56404df1909/resourceGroups/bobofan/providers/Microsoft.Web/sites/boboC2D</ResourceId>
    <UserName>$boboC2D</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://boboc2d.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>